<dl>
    
    <dt>Interviewer</dt>
    <dd><%=@interview.user.name unless @interview.user.nil?%></dd>
    
    <dt>Interview Date</dt>
    <dd><%=@interview.interview_date%></dd>
    
    <dt>Notes</dt>
    <dd><%=@interview.notes.html_safe unless @interview.notes.nil?%></dd>
    
</dl>

<hr>

<h4>Observation Links</h4>
<table class='table table-sm'>
    <thead>
        <th></th>
        <th>Name</th>
        <th>Disposition</th>
    </thead>
    <tbody>
        <% @interview.observations.each do |link| %>
        <tr>
            <td width=100px;>
                <%=link_to 'Show', link, :class => 'btn btn-sm btn-outline-info' %>
            </td>
            <td>
              <%=link.summary %>  
            </td>
            <td>
                <%= link.disposition %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<hr>

<% @unlinked=@interview.review.observations.where.not(id: @interview.observations.pluck(:id)) %>
<% if @unlinked.count > 0 %>
    <%= form_tag observation_links_path, method: :post, :class => 'form-inline' do %>
        <div class="form-group mb-2">
           <%= select_tag :observation_id, options_from_collection_for_select(@unlinked, :id, :summary), :class => 'form-control' %>
           <%= hidden_field_tag :interview_id, @interview.id %>
        </div>
        <div class="form-group mx-sm-3 mb-2">
           <%= submit_tag "Link Observation", :class => 'btn btn-primary' %> &nbsp
           <%= link_to "New Observation", new_observation_path(:interview_id => @interview.id), :class => 'btn btn-outline-primary' %>
        </div>
    <% end %>         
<% else %>
    <%= link_to "New Observation", new_observation_path(:interview_id => @interview.id), :class => 'btn btn-outline-primary' %>
<% end %>
